/* Messages styles */

.sent-message {
background-color: #3dcd08;
color: #fff;
border-radius: 30px;
padding: 10px 25px;
width: 25%;

}
.received-message {
  background-color: rgb(53, 96, 255);
  color: #fff;
  border-radius: 30px;
  padding: 10px 25px;
  width: 30%;
  float: right;
}



.container {
		background-color: #f8f9fa;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		padding: 20px;
	}

	.btn-light {
		background-color: #fff;
		color: #000;
		border: none;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		padding: 10px 20px;
		transition: background-color 0.3s ease;
	}

	.btn-light:hover {
		background-color: #f0f0f0;
	}

	.card {
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
		padding: 20px;
		background-color: #fff;
	}

	.form-control {
		box-shadow: none;
		border: none;
		border-radius: 4px;
		padding: 12px;
		background-color: #f0f0f0;
	}

	.btn-success {
		background-color: #28a745;
		color: #fff;
		border: none;
		border-radius: 4px;
		padding: 10px 20px;
		transition: background-color 0.3s ease;
	}

	.btn-success:hover {
		background-color: #218838;
	}