 .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            position: absolute;
            background-color: #f1f1f1;
            min-width: 300px;
            box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            font-size: 0.9rem;
            border-radius: 10px;
            padding: 10px;
        }

        .dropdown-content a {
            color: black;
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

        .dropdown-item-parent {
            position: relative;

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 5px;
        }

        .dropdown-item-close {
            font-size: 1.8rem;
            padding: 5px;
            transition: 0.3s;
            cursor: pointer;
            margin-left: 10px;
        }

        .notification-badge {
            transition: 0.3s;
        }

        .notification-badge:hover {
            opacity: 0.75;
            cursor: pointer;
        }

        .notification-time {
            font-size: 0.8rem;
            background-color: #ddd;
            padding: 2px 6px;
            border-radius: 10px;
            display: inline-block;
            margin-left: 10px;
        }

         .notification-link {
        flex-grow: 1;
    }