.large-section {
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.yellow-background {
    background-color:#defa00;
}

.gray-background {
     background-color: #201b1b;
}

.yellow-text {

    color:#defa00;
}
.navbar-dark .navbar-brand {
   color:#defa00;

}

.example-section {
    height: 160vh;
    padding-top:8rem;

}

.example-images {
    display: flex;
    justify-content: center;
    border-radius:5%;
    height: 450px;
    border:3px solid #000;
    box-shadow: 6px 6px 60px #defa00;

}

.landing-register-section {
    color:#defa00;
    height: 30vh;
    text-align: center;
    padding-top: 5rem;
}

.login-page-section {
    color: #defa00;
    background-color: #201b1b;
    height: 100vh;
    padding-top: 10rem;
}

.sticky-footer {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 24px; /* Increase the font size as desired */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    width: 40px; /* Adjust the width as desired */
    height: 40px;


}

@media (max-width: 1920px) {
    .header-title {
        font-size: 6rem;
    }

}


@media (max-width: 1020px) {
    .header-title {
        font-size: 3rem;
    }

}


@media (max-width: 520px) {
    .header-title {
        font-size: 2rem;
    }


}


.rounded-picture {
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}


.post-card {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.card-content {
  padding: 10px;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.card-text {
  font-size: 14px;
  color: #000000;
  margin-bottom: 10px;
}

.text-muted {
  color: #999999;
}

.text-dark {
  color: #000000;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 10px;
}

ul li {
  margin-bottom: 5px;
  font-size: 14px;
}

.bee-logo {
  width: 20px;
  margin-left: 5px;
}

.container-post-feed {
  background-color: #ffffff;
  color: #000000;
}

.bee-heading {
  color: #000000;
  font-size: 20px;
  margin-bottom: 20px;
}

.bee-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
}

.bee-button {
  background-color: #3897f0;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.write-post-container {
    width: 80%;
    justify-content: center;
    background: #D3D3D3;
    border-radius: 6px;
    margin: 10px;
    padding: 20px;
    color: #626262;
}

.user-profile {
    display: flex;
    align-items: center;
}

.user-profile img {
    width: 45px;
    border-radius: 50%;
    margin-right: 20px;
}

.user-profile p {
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}

.user-profile small {
    font-size: 12px;
}

.post-input-container {
    padding-left: 55px;
    padding-top: 20px;
}

.post-input-container textarea {
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;

}

.add-post-links {
    display: flex;
    margin-top: 10px;
}

.add-post-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #201b1b;
    margin-right: 30px;
    font-size: 13px;
}

.add-post-links a i {
    width: 20px;
    margin-right: 10px;
}