.hero-image {
    position: relative;
    height: 100vh;
    background-image: url('/static/img/background1.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
}




@media (max-width: 1920px) {
    .header-title {
        font-size: 6rem;
    }

}


@media (max-width: 1020px) {
    .header-title {
        font-size: 3rem;
    }

}


@media (max-width: 520px) {
    .header-title {
        font-size: 2rem;
    }

}

.rounded-picture {
  width: 80px;
  height: 80px;
  float: left;
  border-radius: 50%;
  margin-right: 10px;
}

.post-class {
    padding: 20px;
}


.card {
  padding: 10px;
}


.card-content {
  overflow: hidden;
}
