 .hero-image {
      position: relative;
      height: 100vh;
      background-image: url('/static/img/background.jpg');
      background-size: cover;
      background-position: center;
      text-align: center;
    }

    .hero-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }

    .hero-text h1 {
      font-size: 40px;
    }

    .hero-text p {
      font-size: 20px;
    }