{% load newuser %}
{% load static %}
<link href="{% static 'css/stickyside.css' %}" rel="stylesheet"/>

<div class="card bg-white">
    <div class="card-body">
        <h2 class="card-title">Welcome fresh members!</h2>
        <ul class="list-group">
            {% get_new_users 5 as new_users %}
            {% for user, profile in new_users %}
                <li class="list-group-item">
                    <img src="{{ profile.image.url }}" alt="Profile Picture" class="rounded-circle"
                         style="width: 20px; height: 20px; object-fit: cover;">
                    <a href="{% url 'users:profile' profile.pk %}"  style="color: green;" class="text-decoration-none">{{ user.username }}</a>
                    (Registered at {{ user.date_joined|date:"Y-m-d H:i:s" }})
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
