{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Your Profile</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
</head>

<section class="h-100 gradient-custom-2">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card">
                    <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                        <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                            <img src="{{ user.profile.image.url }}"
                                 alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                 style="width: 150px; z-index: 1">
                            {% if user.is_authenticated %}
                            {% if request.user == user %}
                            <div class="position-relative">
                                <a href="{% url 'users:edit_profile' %}" class="btn btn-dark"
                                   data-mdb-ripple-color="dark"
                                   type="button" style="z-index: 1;">
                                    Edit profile
                                </a>
                            </div>
                            {% else %}
                            <div class="position-relative">
<!--                                <a href="" class="btn btn-dark" data-mdb-ripple-color="dark" type="button"
                                   style="z-index: 1;">
                                    Follow
                                </a>-->
                            </div>
                            {% endif %}
                            {% else %}
                            <div class="position-relative">
                                <a href="" class="btn btn-dark" data-mdb-ripple-color="dark" type="button"
                                   style="z-index: 1;">
                                    LOG IN
                                </a>
                            </div>
                            {% endif %}


                        </div>
                        <div class="ms-3" style="margin-top: 130px;">
                            <h5>{{ user.username }}</h5>
                            <p>{{ user.profile.first_name }} {{ user.profile.last_name }}</p>
                        </div>
                    </div>
                    <div class="p-4 text-black" style="background-color: #f8f9fa;">
                        <div class="d-flex justify-content-end text-center py-1">
                            <div>
                                <p class="mb-1 h5">{{like_count}}</p>
                                <p class="small text-muted mb-0">Total likes</p>
                            </div>
                            <div class="px-3">
                                <p class="mb-1 h5">{{post_count}}</p>
                                <p class="small text-muted mb-0">Posts</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-4 text-black">
                        <div class="mb-5">
                            <p class="lead fw-normal mb-1">About</p>
                            <div class="p-4" style="background-color: #f8f9fa;">
                                <p class="font-italic mb-1">{{ user.profile.bio }}</p>
                            </div>
                        </div>


<div class="d-flex justify-content-between align-items-center mb-4">
    <p class="lead fw-normal mb-0">Recent posts</p>
    <p class="mb-0 show-all-btn"><a href="#!" class="text-muted">Show all</a></p>
</div>
<div class="row g-2">
    {% for post in posts|slice:":6" %}
        <div class="col-md-6 mb-2">
            <div class="card bg-secondary custom-card">
                {% if post.image %}
                    <a href="{% url 'post_detail' post.pk %}">
                        <div class="custom-card">
                            <img src="{{ post.image.url }}" alt="Post Image" class="card-img-top center-cropped">
                        </div>
                    </a>
                {% else %}
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <a href="{% url 'post_detail' post.pk %}" class="card-text text-dark text-center">{{ post.text }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

<div class="additional-posts">
    <div class="row g-2">
        {% for post in posts|slice:"6:" %}
            <div class="col-md-6 mb-2">
                <div class="card bg-secondary custom-card">
                    {% if post.image %}
                        <a href="{% url 'post_detail' post.pk %}">
                            <div class="custom-card">
                                <img src="{{ post.image.url }}" alt="Post Image" class="card-img-top center-cropped">
                            </div>
                        </a>
                    {% else %}
                        <div class="card-body d-flex justify-content-center align-items-center">
                            <a href="{% url 'post_detail' post.pk %}" class="card-text text-dark text-center">{{ post.text }}</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/profile.js' %}"></script>

{% endblock content %}