{% extends 'base.html' %}

{% load static %}


{% block content %}
<div class="container">
  <div class="row">
    {% for post in posts %}
      <div class="col-md-6">
        <div class="card mb-4 post-card">
          <div class="card-body card-content">
            <div class="row">
              <div class="col-md-3">
                {% if post.image %}
                <img src="{{ post.image.url }}" class="rounded-picture" alt="{{ post.title }}">
                {% else %}
                <img src="{% static 'images/default_img.jpg' %}" class="rounded-picture" alt="Default Image">
                {% endif %}
              </div>
              <div class="col-md-9">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.text }}</p>
                <p class="card-text"><span class="text-muted">Author:</span> <span class="text-dark">{{ post.author }}</span></p>
                <p class="card-text"><span class="text-muted">Created Date:</span> <span class="text-dark">{{ post.created_date }}</span>
                <img src="{% static 'images/bee_logo.png' %}" class="bee-logo" alt="Bee Logo"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}