{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>{{ post.title }}</h2>
      <img src="{{ post.image.url }}" alt="Post Image" class="img-fluid">
      <p>{{ post.text }}</p>
      <p>Likes: {{ post.total_likes }}</p>
      <h3>Comments:</h3>
      {% for comment in post.comments.all %}
        <p>{{ comment.content }}</p>
      {% empty %}
        <p>No comments yet.</p>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}>