{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container post-feed">

  <div class="row">
    {% for post in posts %}
    <div class="write-post-container">
      <div class="user-profile">
        <img src="{{ post.user.profile.profile_pic.url }}">
        <div>
          <p>{{ post.author.username }}</p>
          <small>Public <i class="fa-solid fa-caret-down"></i></small>
        </div>
      </div>

      <div class="post-input-container">
        <textarea rows="3" placeholder="What's on Your mind {{ post.author.username }}?"></textarea>
        <div class="add-post-links">
          <a href="#"><i class="fa-solid fa-image" style="color: #d3c845;"></i>Image</a>
        </div>
      </div>

    </div>

      <div class="col-md-8">
        <div class="card mb-4 post-card" {% cycle 'align-right' 'align-left' %}">
          <div class="card-body card-content">
            <div class="row">
              <div class="col-md-3 d-flex justify-content-center align-items-center">

                {% if post.image %}
                <div class="thumbnail">
                <img src="{{ post.image.url }}" class="img-rounded" alt="{{ post.title }}">
                {% else %}
                <img src="{% static 'img/defaultpost_img.jpg' %}" class="img-rounded" alt="Default Image">
                {% endif %}
                <div/>
              </div>
              <div class="col-md-9">
                <h5 class="card-title">{{ post.title }}</h5>
                <p class="card-text">{{ post.text }}</p>
                <p class="card-text"><span class="text-muted">Author:</span> <span class="text-dark">{{ post.author.username }}</span></p>
                <p class="card-text"><span class="text-muted">Created Date:</span> <span class="text-dark">{{ post.created_date }}</span>
                <img src="{% static 'img/bee_logo.png' %}" class="bee-logo" alt="Bee Logo"></p>
              </div>
            </div>

            <div class="card-text">
            <h6>Likes:</h6>
            <ul>
              <!-- Display the likes -->
              {% for like in post.likes.all %}
                <li>{{ like.user.username }} ({{ like.created_at }})</li>
              {% empty %}
                <li>No likes yet.</li>
              {% endfor %}
            </ul>
            </div>

            <div class="card-text">
            <h6>Comments:</h6>
            <ul>
              <!-- Display the comments -->
              {% for comment in post.comments.all %}
                <li>{{ comment.text }} - {{ comment.user.username }} ({{ comment.created_at }})</li>
              {% empty %}
                <li>No comments yet.</li>
              {% endfor %}
            </ul>

            </div>

          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}