{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card bg-light">
                <div class="card-body">
                    <h2>{{ post.title }}</h2>
                    {% if post.image %}
                    <img src="{{ post.image.url }}" alt="Post Image" class="img-fluid">
                    {% endif %}
                    {% if not post.image %}
                    <!--            <p>No image available</p>-->
                    {% endif %}
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-6">
                                {% if post.text %}
                                <div class="card">
                                    <div class="card-body">
                                        <p class="card-text">{{ post.text }}</p>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <i class="fas fa-heart text-danger fa-2x"></i> {{ post.total_likes }}
                    <h3>Comments:</h3>
                    {% for comment in post.comments.all %}
                    <div class="d-flex mb-3">
                        <a href="{% url 'users:profile' comment.user.profile.pk %}">
                            <img src="{{ comment.user.profile.image.url }}" class="border rounded-circle me-2"
                                 alt="Avatar" style="height: 40px"/>
                        </a>
                        <div>
                            <div class="bg-light rounded-3 px-3 py-1" style="border: 1px solid #000">
                                <a href="" class="text-dark mb-0">
                                    <strong>{{ comment.user.username }}</strong>
                                </a>
                                <p>
                                    <small>{{ comment.comment }}</small>
                                </p>
                                <p><small>{{ comment.created_at }}</small></p>
                            </div>
                      <!--      <a href="" class="text-muted small ms-3 me-2"><strong>Like</strong></a>
                            <a href="" class="text-muted small me-2"><strong>Reply</strong></a>-->
                        </div>
                    </div>
                    {% empty %}
                    <p>No comments yet.</p>
                    {% endfor %}
                   <div class="d-flex mb-3">
                    <a href="">
                        <img src="{{ user.profile.image.url }}" class="border rounded-circle me-2" alt="Avatar"
                             style="height: 40px"/>
                    </a>
                    <div class="form-outline">
                        <form class="" method="post" action="{% url 'posts:posts' %}">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ post.pk }}">
                            <div class="comment-form">
                                <div class="mb-3">
                                    <label for="id_comment">Comment:</label>
                                    <textarea class="form-control border border-dark w-100" id="id_comment" name="comment"
                                              rows="1"></textarea>
                                </div>

                                <button class="btn btn-success" style="height:50px" type="submit">Add Comment</button>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}>