{% extends 'base.html' %}

{% block content %}
  <div class="container py-5">
    <div class="card bg-light">
      <div class="card-body">
        <h2 class="card-title">Update Post</h2>
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            {{ form.as_p }}
          </div>
          <button class="btn btn-primary" type="submit">
            <i class="bi bi-save"></i> Save
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
