{% extends 'base.html' %}


{% block content %}
<div class="hero-image">

    <div class="hero-text">
        <h1>Welcome to Our Website</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <br>
        <a href="{% url 'login' %}"><button type="button" class="btn btn-dark btn-rounded" data-mdb-ripple-color="dark">Have an account? - Login
        </button></a>
        <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="{% url 'signup' %}"
                                                                          class="link-danger">Register</a>
        </p>
<!--        this text needs is not visible, needs to be white-->
        <p><a href="{% url 'password_reset' %}" class="text-body text-white">Forgot password?</a></p>

    </div>
</div>

{% endblock %}