{% extends 'base.html' %}


{% block content %}
 <div class="hero-image">
    <div class="hero-text">
      <h1>Welcome to Our Website</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <br>
        <button type="button" class="btn btn-dark btn-rounded" data-mdb-ripple-color="dark">Have an account? - Login</button>
        <button type="button" class="btn btn-dark btn-rounded" data-mdb-ripple-color="dark">Don't have one yet? - Register</button>
    </div>
  </div>

{% endblock %}