{% load user_filters %}
{% load static %}
<link href="{% static 'css/stickyside.css' %}" rel="stylesheet"/>


<div class="col-md-3 ">
    <div class="card bg-light">
        <div class="card-body text-center">
            <h5 class="card-title">Hello! {{ request.user }}</h5>
            <div class="d-flex justify-content-center">
                <img src="{{ user.profile.image.url }}" class="rounded" alt="Avatar" style="height: 140px">
            </div>
            <div class="follower-post-count">
                <p class="followers">Total Likes:{{ like_count }}</p>
                <p class="posts">Total Posts: {{ post_count }}</p>
                <p class="registration-time">{{ user|time_since_registration }}</p>
            </div>
        </div>

        <div class="card bg-light mb-3">
            <div class="card-body">
                <h2 class="card-title">Random Quote:</h2>
                <blockquote class="blockquote">
                    <p class="card-text">{{ quote }}</p>
                    <footer class="blockquote-footer">{{ author }}</footer>
                </blockquote>
            </div>
        </div>

    </div>
</div>