{% load user_filters %}

<div class="col-md-3">
    <div class="card bg-light">
        <div class="card-body text-center">
            <h5 class="card-title">Hello! {{ request.user }}</h5>
            <div class="d-flex justify-content-center">
                <img src="{{ user.profile.image.url }}" class="rounded" alt="Avatar" style="height: 140px">
            </div>
            <div class="follower-post-count">
                <p class="followers">Total Followers:</p>
                <p class="posts">Total Posts:</p>
                <p class="registration-time">{{ user|time_since_registration }}</p>
            </div>
        </div>

        <div class="card bg-light py-3">
            <div class="card-body">
                <h5 class="card-title">News</h5>
                <p class="card-text">Display the news here.</p>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores
                    consequatur consequuntur cupiditate deleniti ea et facilis libero magni quos ratione! At
                    autem
                    itaque laborum natus. Error est magni nulla sint.</p>
                <br>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aperiam
                    dolorum
                    explicabo illo maiores nesciunt non nulla provident quis, repellat sequi suscipit veritatis,
                    voluptas! Asperiores autem expedita temporibus vitae voluptatum.</p>
            </div>
        </div>
    </div>
</div>